
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";	
}
<!-- Main Content -->
		<div class="page-wrapper">
            <div class="container-fluid pt-25">
				<!-- Row -->				
				<div class="row">
					@if (User.IsInRole("Admin"))
										{
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">													
													<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.OwnList</span></span>
												<span class="weight-500 uppercase-font block font-13">Owner</span>
											
										</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.RentList</span></span>
													<span class="weight-500 uppercase-font block">Renter</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-user data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.VehType</span></span>
													<span class="weight-500 uppercase-font block">Vehicle Type</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="zmdi zmdi-local-taxi data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.VehMan</span></span>
													<span class="weight-500 uppercase-font block">Manufacturer</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="zmdi zmdi-wrench data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					}
					@if (!User.IsInRole("Renter"))
			{
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default card-view pa-0">
						<div class="panel-wrapper collapse in">
							<div class="panel-body pa-0">
								<div class="sm-data-box">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
												<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.VehList</span></span>
												<span class="weight-500 uppercase-font block">Vehicles Count</span>
											</div>
											<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
												<i class="zmdi zmdi-local-taxi data-right-rep-icon txt-light-grey"></i>
											</div>
										</div>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default card-view pa-0">
						<div class="panel-wrapper collapse in">
							<div class="panel-body pa-0">
								<div class="sm-data-box">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
												<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.BookList</span></span>
												<span class="weight-500 uppercase-font block">Booking History Count</span>
											</div>
											<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
												<i class="zmdi zmdi-directions-car data-right-rep-icon txt-light-grey"></i>
											</div>
										</div>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default card-view pa-0">
						<div class="panel-wrapper collapse in">
							<div class="panel-body pa-0">
								<div class="sm-data-box">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
												<span class="txt-dark block counter"><span class="counter-anim">@ViewBag.ChatList</span></span>
												<span class="weight-500 uppercase-font block">Chat Count</span>
											</div>
											<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
												<i class="zmdi zmdi-comment-outline data-right-rep-icon txt-light-grey"></i>
											</div>
										</div>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- /Row -->				
			</div>
			
			
		</div>
        <!-- /Main Content -->